<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= @rspec_result %>

<div class="col-md-12">
  <%= form_tag(button_start_work_index_path, method: 'post') do %>
  <% end %>
  <%= form_tag(button_start_work_index_path, method: 'post') do %>
    <%= submit_tag('Start !', class: 'btn btn-primary') %>
  <% end %>
</div>
